{% extends ngbm.pageLayoutTemplate %}

{% block layout %}
<div class="zone-layout-layout4">

    <div class="top-content-block">
        <section class="zone zone-header">
            {% ngbm_render_zone 'header' %}
        </section>

        <section class="zone zone-post_header">
            {% ngbm_render_zone 'post_header' %}
        </section>
    </div>

    <div class="main-content-block">
        <div class="ui two column stackable grid">
            <div class="ten wide column">
                <section class="zone zone-left">
                    {% ngbm_render_zone 'left' %}
                </section>
            </div>
            <div class="six wide column">
                <section class="zone zone-right">
                    {% ngbm_render_zone 'right' %}
                </section>
            </div>
        </div>
    </div>

    <div class="bottom-content-block">
        <section class="zone zone-pre_footer">
            {% ngbm_render_zone 'pre_footer' %}
        </section>

        <section class="zone zone-footer">
            {% ngbm_render_zone 'footer' %}
        </section>
    </div>

</div>
{% endblock %}
