{% extends '@nglayouts_admin/app/block/block.html.twig' %}

{% import '@NetgenLayoutsAdmin/app/parts/macros.html.twig' as macros %}

{% trans_default_domain 'nglayouts_app' %}

{% block content %}
    {% set component = block.parameter('content').valueObject %}

    {% if component is not empty %}
        <div class="list-row">
            <div class="list-item">
                <div class="name">
                    <p>{{ component.name }}</p>
                </div>

                <div class="value-type">
                    <p>{{ component.identifier }}</p>
                </div>
            </div>
        </div>
    {% else %}
        {{ macros.notice('block.notice.empty_sylius_component'|trans) }}
    {% endif %}
{% endblock %}
