includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    ignoreErrors:
        # Disable errors about missing value types in various Symfony based classes

        - '#Method .+Listener::getSubscribedEvents\(\) return type has no value type specified in iterable type array.#'
        - '#has parameter \$menu with no value type specified in iterable type Knp\\Menu\\ItemInterface.#'
