includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    # - vendor/phpstan/phpstan-doctrine/extension.neon
    # - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    ignoreErrors:
        # PHPStan

        - '#Call to method arrayNode\(\) on an unknown class Symfony\\Component\\Config\\Definition\\Builder\\NodeBuilder<Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition>#'

        # Netgen Layouts specifics

        - '#Class Netgen\\Layouts\\Sylius\\Repository\\ProductRepository extends generic class Sylius\\Bundle\\CoreBundle\\Doctrine\\ORM\\ProductRepository but does not specify its types: T#'
        - '#Class Netgen\\Layouts\\Sylius\\Repository\\TaxonRepository extends generic class Sylius\\Bundle\\TaxonomyBundle\\Doctrine\\ORM\\TaxonRepository but does not specify its types: T#'
        - '#Netgen\\Layouts\\Sylius\\Repository\\ComponentRepository::__construct\(\) does not call parent constructor from Doctrine\\ORM\\EntityRepository.#'
