includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    ignoreErrors:
        # Integration specifics
        -
            message: '#should be contravariant with parameter \$object#'
            path: lib/Item/ValueUrlGenerator/ProductValueUrlGenerator.php

        -
            message: '#should be contravariant with parameter \$object#'
            path: lib/Item/ValueConverter/ProductValueConverter.php
