<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    requireCoverageMetadata="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutChangesToGlobalState="true"
>
    <testsuites>
        <testsuite name="Netgen\Layouts\Sylius">
            <directory>tests/lib</directory>
        </testsuite>
        <testsuite name="Netgen\Bundle\LayoutsSyliusBundle">
            <directory>tests/bundle</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">lib</directory>
            <directory suffix=".php">bundle</directory>
        </include>
        <exclude>
            <directory>bundle/Resources</directory>
            <file>bundle/NetgenLayoutsSyliusBundle.php</file>
            <file>bundle/DependencyInjection/NetgenLayoutsSyliusExtension.php</file>
        </exclude>
    </source>
</phpunit>
