services:
    netgen_layouts.sylius.event_listener.admin.main_menu_builder:
        class: Netgen\Bundle\LayoutsSyliusBundle\EventListener\Admin\MainMenuBuilderListener
        arguments:
            - "@security.authorization_checker"
        tags:
            - { name: kernel.event_subscriber }

    netgen_layouts.sylius.event_listener.admin.set_page_layout:
        class: Netgen\Bundle\LayoutsSyliusBundle\EventListener\Admin\SetPageLayoutListener
        arguments:
            - "%netgen_layouts.sylius.admin.pagelayout%"
        tags:
            - { name: kernel.event_subscriber }

    netgen_layouts.sylius.event_listener.shop.resource_show:
        class: Netgen\Bundle\LayoutsSyliusBundle\EventListener\Shop\ResourceShowListener
        arguments:
            - "@request_stack"
        tags:
            - { name: kernel.event_subscriber }
