{% extends '@ngbm/block/block.html.twig' %}

{% block content %}
    <div class="ui twelve column stackable grid">
        <div class="four wide column">
            {{ nglayouts_render_placeholder(block, 'left') }}
        </div>
        <div class="eight wide column">
            {{ nglayouts_render_placeholder(block, 'right') }}
        </div>
    </div>
{% endblock %}
