{% trans_default_domain 'nglayouts_app' %}

{# Form theme for "content" parameter from "sylius_component" block definition #}
{%- block sylius_component_content_widget -%}
    {% set component_type = form.parent['component_type'].vars.value %}
    {% set component_create_route = nglayouts_sylius_component_create_route(component_type) %}
    {% set component_update_route = nglayouts_sylius_component_update_route(component_type) %}

    {% set custom_params = custom_params|merge({
        component_type: component_type
    }) %}

    {% set post_input_browse %}
        {% if form.vars.item is not empty and component_update_route is not empty %}
            {% set link_name = 'block.sylius_component.edit_component'|trans %}
            {% set link_url = path(component_update_route, {'id': form.vars.item.component.id}) %}
        {% elseif component_create_route is not empty %}
            {% set block = form.parent.parent.vars.block %}
            {% set link_name = 'block.sylius_component.create_component'|trans %}
            {% set link_url = path(component_create_route) ~ '#ngl-sylius-component/' ~ block.id.toString ~ '/' ~ block.locale ~ '/' ~ component_type %}
        {% endif %}

        <a class="add-items add-items-btn" href="{{ link_url }}" target="_blank" style="display: block">{{ link_name }}</a>
    {% endset %}

    {{ block('ngcb_widget') }}
{%- endblock -%}
