{% set product = item.object %}

{% if product.image is not null %}
    <div class="image">
        {% set path = product.image.path|imagine_filter('ngbm_sylius_product_app_preview') %}

        <img src="{{ path }}" />
    </div>
{% endif %}

<div class="name">
    <p>{{ item.name }}</p>
</div>
