{% set content = block('content') %}

{#
    We embed the main base.html.twig instead of extending it
    to be able to inject additional markup before and after its
    body block.
#}

{% embed '@SyliusAdmin/shared/layout/base.html.twig' %}
    {% trans_default_domain 'nglayouts_admin' %}

    {% block title %}
        {{ 'pagelayout.title'|trans }}
    {% endblock %}

    {% block body %}
        {% hook 'netgen_layouts.sylius_admin.common.index' %}

        <div class="page-wrapper">
            <div class="ng-layouts-app">
                <div class="layouts-content">

                {{ content|raw }}

                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
