{% set product = item.object %}
{% set image_path = null %}

{% if product.imagesByType('thumbnail') is not empty %}
    {% set image_path = product.imagesByType('thumbnail').first.path %}
{% elseif product.images.first %}
    {% set image_path = product.images.first.path %}
{% endif %}

{% if image_path is not null %}
    <div class="image">
        <img src="{{ image_path|imagine_filter('nglayouts_sylius_product_app_preview') }}" />
    </div>
{% endif %}

<div class="name">
    <p><a href="{{ nglayouts_item_path(item) }}" target="_blank">{{ item.name }}</a></p>
</div>

<div class="value-type">
    <p>{{ nglayouts_value_type_name(item) }}</p>
</div>
