{% extends '@ngbm/block/block.html.twig' %}

{% block content %}
    <div class="ui twelve column stackable grid">
        <div class="six wide column">
            {{ ngbm_render_placeholder(block, 'left') }}
        </div>
        <div class="three wide column">
            {{ ngbm_render_placeholder(block, 'center') }}
        </div>
        <div class="three wide column">
            {{ ngbm_render_placeholder(block, 'right') }}
        </div>
    </div>
{% endblock %}
